body {
    margin: 0;
    background-color: #f8f8f8;
}

div {
    padding: 5px 10px 5px 10px;
}

h1 {
    margin: 0px;
}

svg {
	border: 1px solid #ddd;
    background-color: #fff;
}

div.helptable {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 40%;
}